body {
  background-color: #ccc
}
.App {
  background: url('./chalkboard.jpg');
  height: 100%;
}



.App-header {
  /* background-color: #222; */
  padding: 20px;
}

.App-title {
  color: #61DAFB;
  font-family: 'Spectral SC', serif;
  font-size: 2.5em;
  opacity: 0.5;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
